{% extends 'base_for_car.html' %}

{% block body %}
<link rel="stylesheet" href="static/css/cars_style.css">
<img src="static/img/cars/bmw_x7/bmw_x7.jpg">
<div class="spisok">
    <ul>
        <li>Вид топлива: бензин/дизель</li>
        <li>Расход топлива: 12.8–7.7 л/100 км</li>
        <li>Максимальная скорость(km/h): 245</li>
        <li>Мощность, л.с. при об/мин: 340 /5500–6500</li>
        <li>Разгон(1-100 km/h): 6,1</li>
        <li>Цена: от 9.500.000 руб.</li>
    </ul>
</div>
{% endblock %}