{% extends 'base.html' %}

{% block title %}
Автомобили
{% endblock %}

{% block body %}
<div class="align d-flex text-justify row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <a href="/BMW_X7"><img src="static/img/cars/bmw_x7/bmw_x7.png"></a>
        <h3 class="fs-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BMW
            X7</font></font></h3>
    </div>
    <div class="feature col">
        <a href="/BMW_X6"><img src="static/img/cars/bmw_x6/bmw_x6.png"></a>
        <h3 class="fs-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BMW
            X6</font></font></h3>
    </div>
    <div class="feature col">
        <a href="/BMW_X5"><img src="static/img/cars/bmw_x5/bmw_x5.png"></a>
        <h3 class="fs-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BMW
            X5</font></font></h3>
    </div>
</div>
<div class="align d-flex text-justify row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <a href="/BMW_I8"><img src="static/img/cars/bmw_i8/bmw_i8.png"></a>
        <h3 class="fs-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BMW
            I8</font></font></h3>
        <a href="bmw_x7.html" class="nav-link active" aria-current="page"><font style="vertical-align: inherit;"></font></a>
    </div>
    <div class="feature col">
        <a href="/BMW_M5_F90"><img src="static/img/cars/bmw_M5_F90/bmw_m5_f90.png"></a>
        <h3 class="fs-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BMW
            M5 F90</font></font></h3>
    </div>
    <div class="feature col">
        <a href="/BMW_M4"><img src="static/img/cars/bmw_M4/bmw_m4.png"></a>
        <h3 class="fs-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BMW
            M4</font></font></h3>
    </div>
</div>
{% endblock %}